$icon-font-path: '../fonts/';
$image-path: '../images/';
$active-font-dir: $icon-font-path + 'josefin-sans/';

@import "app/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "app/bower_components/components-font-awesome/scss/font-awesome.scss";


/*
* Custom CSS Starts Here
*/

@font-face {
  font-family: 'Josefin Sans';
  src: url($active-font-dir + "JosefinSans-Light.ttf") format("truetype")
}
@font-face {
  font-family: 'Josefin Sans Bold';
  src: url($active-font-dir + "JosefinSans-SemiBold.ttf") format("truetype")
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  min-height:100%;
}

/* Space out content a bit */
body {
  min-height:100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Josefin Sans';
  color: rgba(51, 51, 51, 0.9);
}

// Full Page Image
// https://github.com/BlackrockDigital/startbootstrap-full
.full {
  background: url($image-path + 'background-new.jpg') no-repeat center center fixed;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full:before {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(157, 157, 157, 0.3);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding: 15px auto;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 20px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 25%;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container{
  margin-top: 5%;
}

// Login Page CSS
.login {
  position: relative;
  display: table;
  background: #fff;
  border-radius: 4px;
  padding: 0px;
}
.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #FF7052;
  padding: 15px;
  color: #fff;
  font-size: 2em;
  border-radius: 4px 4px 0px 0px;
}
.legend:after {
  content: "";
  background-image: url($image-path + 'user.png');
  background-size: 90px 90px;
  background-repeat: no-repeat;
  background-position: 100% 30%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.form-group {
  margin: 0px;
}
.input {
  width: 100%;
  margin-top: 20px;
}
.input span {
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 25px;
  top: 8px;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: rgba(51, 51, 51, 0.83);
  font-family: 'Josefin Sans Bold';
  font-size: 1.1em;
}
.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #FF7052;
}

.input input[type="checkbox"]{
  width: 20%;
  float: left;
}
.input label{
  width: 80%;
  float: right;
}
.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto 0 auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #FF7052;
  color: #fff;
  outline: 0;
}
.feedback {
  position: absolute;
  top: 75%;
  @media (max-width: $screen-sm) {
    top: 78%;
  }
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Josefin Sans Bold';
  background: #2ecc71;
  padding: 10px 0;
  font-size: 1em;
  display: block;
  opacity: 0;
}
.feedback:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
}
div.error:before {
  opacity: 1;
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #E84946;
  border-width: 10px;
  margin-left: -10px;
}

.status-table{
  margin: 20px;
}

table > tbody > tr > td {
  font-weight: bold;
  width: 50%;
}

// Custom checkbox style
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

